<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://www.justwatch.com/images/backdrop/207404040/s640/moana);">
  <div class="container">
    <h1><%= @list.name %></h1>
    <div class="add-link">
      <%= link_to new_list_bookmark_path(@list) do %>
        <i class="fa-solid fa-circle-plus"></i>
      <% end %>
    </div>
  </div>
</div>
<div class="container mt-3 mb-3">
  <h2>movies & reviews</h2>
  <% @list.bookmarks.each do |bookmark| %>
    <div class="card-product mt-3">
      <%= image_tag bookmark.movie.poster_url, alt: "text" %>
      <div class="card-product-infos">
        <h2><%= bookmark.movie.title %></h2>
        <p><%= bookmark.comment %></p>
        <p><%= bookmark.user.username %></p>
        <%= link_to bookmark_path(bookmark), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: 'card-remove-link' do %>
          <i class="fa-solid fa-trash"></i>
        <% end %>
      </div>
    </div>
  <% end %>
  <div class="go-back-icon">
    <p><%= link_to lists_path do %></p>
      <i class="fa-solid fa-arrow-left fa-2x"></i>
    <% end %>
  </div>
</div>
